:root {
    --tan-color: #D2B48C;
    --dark-gray-color: #505050;
    --old-lace-color: #FDF5E6;
    --pale-olive-color: #bbd8b3;
  }
  body {
    box-sizing: border-box;
    background-color: #FFFFFF;
  }
  .container-centered {
    margin: 20px auto;
    width: 1024px;
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-gray-color);
    background-color: var(--old-lace-color);
    box-shadow: 10px 10px 40px -1px  rgba(0, 0, 0, 0.23);
  }
  .two-columns {
      display: flex;
  }
  .left-column {
    width: 42%;
    color: var(--dark-gray-color);
    background-color: var(--pale-olive-color);
  }
  .right-column {
      width: 58%;
      color: var(--dark-gray-color);
      background-color: var(--old-lace-color);
      padding: 40px;
  }
  header {
    padding: 30px;
    text-align: center;
    background-color: var(--old-lace-color);
  }
  header h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  header h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }